*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/images/bg.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
}

.pageContainer{
    border: rgb(255, 255, 255) 1px;
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gameContainer{
    border:solid black;
    height: 780px;
    width: 1020px;
}

canvas{
    width: 1020px;
    height: 780px;
}

.header{
    display: flex;
    justify-content: center;
    width: 99.5vw;
    height: 52px;
    position: absolute;
    z-index: +2;
    top: 2px;
    
}

.input{
    display: flex;
    justify-content: center;
    /* display: none; */
}
form{
    justify-content: center;
    align-self: center;
    justify-self: center;
    margin-top: 12px;
    position: absolute;
    left: 42%;
    z-index: +3;
    /* width: 800px; */
}

.banner{
    display: flex;
    /* justify-content: space-around; */
    border:solid black 2px;
    background-image: url(/images/bannertest.png);
    background-size: cover;
    width: 1020px;
    height: 60px;
    position: relative;
}

.bannerContent{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    width: fit-content;
    /* height: fit-content; */
    justify-content: space-around;
    font-size: 50px;
    color:rgb(172, 127, 176);
    font-weight: bolder;
    padding-left: 20px;
    text-shadow: none;
    
    animation-name: nameColor;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    /* display: none; */
}

#gameName{
    height: 26px;
    width: 200px;
}

.gameInfo{
    display: none;
    flex-direction: row;
    
    /* border:solid rgb(181, 199, 15) 2px; */
    height: 60px;
    width: 60%;
    margin-left: 40px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border:dashed white 1px; */
    width: 33%;
    color: white;
}

.picFrame{
    
    width: 52px;
    height: 48px;
    margin-bottom: 3px;
    margin-left: 20px;
    background-image: url(/images/squirtle3.gif);
    background-size: contain;
}

.picFrame2{
    width: 52px;
    height: 46px;
    margin-bottom: 3px;
    /* margin-left: 20px; */
    background-image: url(/images/pkball.gif);
    background-size: 52px 48px;
}

#grid {
    position: absolute;
    z-index: +2;
    opacity: 0.2;
    display: none;
    pointer-events: none;
}

.btnContainer{
    display: flex;
    justify-content: space-around;
}

.btmButtons{
    font-weight: bold;
    margin: 8px;
    width: 100px;
    height: 24px;
    border-radius: 6px;
    background-color: rgb(18, 210, 31);
    border:solid black 1px;
    opacity: .6;
}

.btmButtons:hover{
    opacity: 1;
    background-color: rgb(18, 210, 31);
}

.btmButtons:active{
    scale: .94;
    
}

#nameButton{
    width: 50px;
    border:solid lime 1px;
    color: darkblue;
    background-color: gainsboro;
    transition: .5s;
}

#nameButton:hover{
    border:solid skyblue 2px;
}

#nameButton:active{
    scale: .94;
}

#startButton{
    animation: startOpacity 3s infinite linear running;
}


.gameOverText{
    font-size: xx-large;
    color: white;
    position: absolute;
    z-index: +2;
    top: -20vh;
    left: 46vw;
    animation: gameOverEnter 5s forwards ease-out;
    display: flex;
    
}

.leaderBoard{
    position: absolute;
    z-index: +2;
    top:4vh;
    left: 85vw;
    border:dashed black;
    text-align: center;
    height: 240px;
    width: 200px;
    opacity: 1;
    /* display:; */
}
.names{
    width: 65%;
    height: 80%;
    border-right: dashed black;

}

.scores{
    width: 20%;
    position: absolute;
    left: 7.8vw;
    top: 3vh;
}

@keyframes startOpacity{
    0%{
        opacity: .6;
    }50%{
        opacity: 1;
        border-color: white;
    }100%{
        opacity: .6;
    }
}

@keyframes nameColor{

    0%{
        color: rgb(172, 127, 176);
        text-shadow: 1px 1px 2px black;
    }

    50%{
        color: rgb(124, 58, 130);
        text-shadow: 1.5px 1.5px 3px white;
        
    }
    
    100%{
        color: rgb(172, 127, 176);
        text-shadow: 1px 1px 2px black;
    }
}

@keyframes gameOverEnter{
    0%{
        top: -8vh;
        color: white;
    } 100%{
        top: 46vh;
        color: red;
        text-shadow: 2px 2px 4px darkred;
    }
}

@keyframes gameOverColor{
    0%{
        color: red
    }
    100%{
        color: blue;
    }
}